*.iml
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
/.gradle/
/.idea/
/gradle/
/gradle.properties
/gradlew
/build.gradle
/settings.gradle
/gradlew.bat
/app/build/
/app/libs/
/app/proguard-rules.pro
/app/build.gradle
/app/src/androidTest/
/app/src/test/
